.footer {
  display: flex;
  flex-direction: column;
  margin-top: 41px;
  width: 100%;
  z-index: 2;

}

.footer__navbar {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
  min-width: 271px;
}

.footer__title {
  font-style: bold;
  font-size: 12px;
  line-height: 15px;
  color: #656566;
  text-transform: uppercase;
  margin: 0 0 20px 16px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 0 30px 15px;
  padding: 0;
  list-style-type: none;
}

.footer__container_type_menu {
  max-width: 123px;
  max-height: 192px;
}

.footer__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #E4E5EA;
}

.footer__copyrigth {
  font-family: 'Monserrat', sans-serif;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px 0 60px 15px;
}

.footer__copyrigth_text {
  margin: 0;
}

.footer__copyrigth_link {
  color: #E4E5EA;
  text-decoration: none;
  width: max-content;
  line-height: 10px;
  border-bottom: 1px solid #E4E5EA;
}

@media (min-width: 980px) {
  .footer__container_type_menu {
    align-items: start;
    max-height: 136px;
  }

  .footer__link_type_menu {
    min-width: 144px;
    width: max-content;
  }

  .footer__link_type_menu:first-child {
    margin-right: 42px;
  }

  .footer__link_type_menu:nth-child(6) {
    order: 2;
  }

  .footer__link_type_menu:nth-child(7) {
    order: 1;
  }

  .footer__link_type_menu:nth-child(8) {
    order: 3;
  }

  .footer__link_type_menu:nth-child(9) {
    order: 4;
  }

  .footer__link_type_menu:nth-child(10) {
    order: 5;
  }

  .footer__column:nth-child(2) {
    position: absolute;
    left: 293px;
  }

  .footer__column:last-child {
    align-items: end;
  }

  .footer__copyrigth {
    align-items: end;
    margin-top: 70px;
  }
}

@media (min-width: 500px) and (max-width: 1140px) {
  .footer__copyrigth  {
    margin-right: 16px;
  }
  .footer__column:last-child {
    margin-right: 16px;
  }
}
