.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 55px;
  width: 100%;
  margin: 0 auto;
  z-index: 2;

}

@media (min-width: 500px) {
  .header {
    align-items: start;
    margin-top: 22px;
  }
}

@media (min-width: 980px) {
  .header {
    min-height: 73px;
    margin-top: 46px;
    gap: 10px;
  }
}

@media (min-width: 1140px) {
  .header {
    margin-top: 58px;
    gap: 52.96px;
  }
}
