.contact {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 22px;
}
.contact__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #E4E5EA;
}

.contact__link_type_tel {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.contact__navbar_social {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 22px;
}

.contact__icon_type_telegram {
  background-image: url("../images/icon_type_telegram.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 16.68px;
  height: 13.99px;
  margin-right: 33.65px;
}

.contact__icon_type_viber {
  background-image: url("../images/icon_type_viber.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 15.2px;
  margin-right: 34px;
}

.contact__icon_type_whatsapp {
  background-image: url("../images/icon_type_whatsapp.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
}

@media (min-width: 990px) and (max-width: 1439px){
  .contact__icon_type_whatsapp  {
    margin-right: 16px;
  }
}

@media (min-width: 1440px) {
  .contact {
    gap: 48.67px;
  }
}
