.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  background-image: url('../images/noise.png');
}

.main__container {
  margin-left: 14px;
  z-index: 2;
}

.main__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  margin: 40px 0 0 0;
}

.main__tytle_bold {
  font-weight: 900;
font-size: 36px;
line-height: 44px;
}

.main__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 15px 0 0 0;
}

.main__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 45px 0 0 0;
}

.main__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 14px;
  column-gap: 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  list-style-type: none;
  margin: 20px 0 59px 0;
  padding: 0;
}

.main__list_margin {
  margin-right: 5px;
}

.main_theme_gragient {
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.cover {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 425px;
  padding: 0;
  background: radial-gradient(rgba(255, 246, 233, 0.1), rgba(26, 29, 35, 0.1), rgba(26, 29, 35, 0.1), rgba(26, 29, 35, 0.01), rgba(26, 29, 35, 0));
  background-image: url('../images/noise.png');
  filter: blur(15px);
}

.cover__circle_color_purple-light {
  position: absolute;
  left: 258px;
  top: 107px;
  width: 259px;
  height: 259px;
  border-radius: 50%;
  background-color: #833AB4;
  opacity: 50%;
  filter: blur(392px);
}

.cover__circle_color_purple {
  position: absolute;
  left: 296px;
  top: 236px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  filter: blur(10px);
}

.cover__circle_color_red-light {
  position: absolute;
  left: -55px;
  top: 241px;
  width: 211px;
  height: 210px;
  border-radius: 50%;
  background-color: #961A1A;
  opacity: 50%;
  filter: blur(392px);
}

.cover__circle_color_red {
  position: absolute;
  left: 29px;
  top: 402px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: radial-gradient(rgba(255, 208, 208, 0.536), rgba(212, 93, 93, 0.264), rgba(167, 49, 49, 0.248), rgba(130, 25, 25, 0.248)) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.cover__circle_color_yellow-light {
  position: absolute;
  left: -66px;
  top: 519px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #FCB045;
  opacity: 40%;
  /* filter: blur(392px); */
}
