.main {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  background-image: url("../images/noise.png");
}

.main__container {
  margin-left: 14px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.main__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  margin: 40px 0 0 0;
}

.main__title_bold {
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
}

.main__description {
  font-family: 'Monserrat';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 15px 0 0 0;
}

.main__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 45px 0 0 0;
}

.main__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 14px;
  column-gap: 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  list-style-type: none;
  margin: 20px 0 59px 0;
  padding: 0;
}

.main__list_description {
  display: none;
}

.main__list_visible {
  margin-right: 5px;
}

.main_theme_gragient {
  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.cover_mobile {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 425px;
  padding: 0;
  background-image: url("../images/noise.png");
}

.cover_desktop {
  display: none;
}

.cover_mobile_purple-light {
  border-radius: 50%;
  position: absolute;
  width: 259px;
  height: 259px;
  left: 258px;
  top: 107px;

  background: #833AB4;
  opacity: 0.5;
  filter: blur(196px);
}

.cover_mobile_purple-ball {
  border-radius: 50%;

  position: absolute;
  width: 40px;
  height: 40px;
  left: 296px;
  top: 236px;

  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
  backdrop-filter: blur(2px);
}

.cover_mobile_red-light {
  border-radius: 50%;

  position: absolute;
  width: 211px;
  height: 210px;
  left: -55px;
  top: 241px;

  background: #961A1A;
  opacity: 0.5;
  filter: blur(196px);
}

.cover_mobile_red-ball {
  border-radius: 50%;

  position: absolute;
  width: 43px;
  height: 43px;
  left: 29px;
  top: 402px;

  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  backdrop-filter: blur(2px);
}

.cover_glass {
  position: absolute;
  width: 320px;
  height: 445px;
  left: 0px;
  top: 0px;

  background: radial-gradient(238.53% 189.02% at 3.2% 3.49%, rgba(255, 246, 233, 0.1) 0%, rgba(26, 29, 35, 0.1) 26.62%, rgba(26, 29, 35, 0.1) 52.1%, rgba(26, 29, 35, 0.01) 70.17%, rgba(26, 29, 35, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  backdrop-filter: blur(7.5px);
}

.cover_mobile_yellow-light {
  border-radius: 50%;

  position: absolute;
  width: 200px;
  height: 200px;
  left: -66px;
  top: 519px;

  background: #FCB045;
  opacity: 0.4;
  filter: blur(196px);
}

@media (min-width: 500px) {
  .main {
    justify-content: space-between;
  }

  .main__container:last-child {
    align-items: flex-end;
  }

  .main__title_bold {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
  }

  .cover_mobile {
    display: none;
  }

}

@media (min-width: 1141px) {
  .main {
    margin-top: 78px;
    margin-bottom: 83px;
  }

  .main__container {
    margin-left: 0;
  }

  .main__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    margin: 0;
  }

  .main__description {
    margin-top: 30px;
  }

  .main__subtitle {
    margin: 15px 0 0 0;
    text-align: end;
  }

  .main__subtitle_size_xl {
    text-transform: uppercase;
  }

  .main__list {
    margin: 40px 0 0 0;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 5%;
    text-align: end;
    row-gap: 30px;
    column-gap: 31px;
  }

  .main__list_container {
    display: flex;
    flex-direction: column;
    max-width: 150px;
  }

  .main__list_container:nth-child(1) {
    order: 3;
  }

  .main__list_container:nth-child(2) {
    order: 2;
  }

  .main__list_container:nth-child(3) {
    order: 1;
  }

  .main__list_container:nth-child(4) {
    order: 4;
  }

  .main__list_description {
    font-family: 'Monserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    text-transform: none;
    margin-top: 6px;
  }

  .main__list_visible {
    display: none;
  }

  .cover__circle_color_purple-ball {
    position: absolute;
    left: 618px;
    top: -2px;
    width: 60px;
    height: 60px;
  }
}
